<div class="container mx-auto d-flex flex-column align-items-center">
  <head>
    <h4>請輸入你的支出</h4>
  </head>

  <form class="m-5" action="/expense" method="POST">
    <div class="form-group form-inline">
      <label for="inputEmail4">名稱</label>
      <input
        type="name"
        class="form-control ml-2 col-10"
        id="name"
        name="name"
        placeholder="name"
      />
    </div>
    <div class="form-group form-inline">
      <label for="inputPassword4">日期</label>
      <input
        type="date"
        class="form-control ml-2 col-10"
        id="date"
        name="date"
        placeholder="date"
      />
    </div>
    <div class="form-group form-inline">
      <label for="inputState">類別</label>
      <select id="inputState" class="form-control ml-2 col-10" name="category">
        <option selected>Choose...</option>
        <option value="housewares">家居物業</option>
        <option value="transportation">交通出行</option>
        <option value="entertainment">休閒娛樂</option>
        <option value="consumption">餐飲食品</option>
        <option value="others">其他</option>
      </select>
    </div>
    <div class="form-group form-inline">
      <label for="inputZip ">金額</label>
      <input
        type="number"
        class="form-control ml-2 col-10"
        id="expense"
        name="amount"
        min="1"
      />
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">新增支出</button>
    </div>
  </form>
</div>